<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Inove Asset Management</a>
    </div>
    <div class="collapse navbar-collapse">
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- //testado para usar com sidenav material
<div style="width: 100%; height: 50px; background-color: black;"></div>
<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" >
    </div>
    <div class="main-panel">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
-->
